html {
    font-size: clamp(1em, 1.5vw , 1.5em);
    font-family: Georgia, serif ;
    line-height: 1.5;
}
body {
  background: #e1dad2 ;
  color: #1b1b1b;
  max-width: 60%;
  margin: auto;
}
a {
    font-style: italic;
    color: #194a50;
}
a.big {
    font-weight: 600;
    text-decoration: none; 
}
a:hover{
	background: #afcfd3;
}

table {
  width: 100%;
  text-align: center; 
  padding: 3em 0 0 0;
}

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

.fade-in {
 opacity:0;
 animation:fadeIn ease-in 1;
 animation-fill-mode:forwards;
 animation-duration:.5s;
 animation-delay: 0.3s;
}

.inner{
	width:90%;
	margin:auto;
}
@media screen and (max-width:500px) {
  table {
   margin:auto; 
   padding: 0em;
  text-align: center; 
  }
  tr:last-child td {
   display:table-footer-group;
  }
  img {
    width: 160px;
  }

}

