html {
    font-size: clamp(1em, 1.5vw , 1.5em);
    font-family: Georgia, serif ;
    font-weight: 400;
}
body {
  background: #e1dad2 ;
  color: #1b1b1b;
  max-width: 50%;
  margin: auto;
}
h1, h2, h3, h4, strong  {
  font-weight: 700;
}
a {
    font-style: italic;
    color: #194a50;
}
a.big {
    font-weight: 600;
    text-decoration: underline wavy 5%;
}
a:hover{
	background:#afcfd3;
}

div.intro {
  text-align:center;
  float:left;
  width: 50%;
  line-height: 1.5;
}

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

.fade-in {
 opacity:0;
 animation:fadeIn ease-in 1;
 animation-fill-mode:forwards;
 animation-duration:.5s;
 animation-delay: 0.3s;
}

.inner{
	width:90%;
	margin:auto;
}

@media screen and (max-width:500px) {
    #intro {
        padding: 1em 1em 0em 1em;
    }
    #intro-text, #intro-image {
        float: none;
        width: 100%;
	text-align:center;
    }
}
